@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital@1&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.start-button {
  width: 170px;
  height: 40px;
  border-radius: 30px;
  border-style: none;
  background-color: #1C4662;
  margin-top: 30px;
  cursor: pointer;
}
.start-button:hover {
  background-color: #133044;
}
.start-button a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

header {
  background-color: #FFFCF1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: ". logo hamburger-menu";
  align-items: center;
  justify-items: center;
  padding: 20px 30px 0px 30px;
}
header a {
  grid-area: logo;
}
header a img {
  width: 100px;
  height: 100px;
}
header .header-nav {
  display: none;
}
header .icons {
  grid-area: hamburger-menu;
  justify-self: right;
}
header .icons .socials {
  display: none;
}
header .icons .hamburger-menu i {
  font-size: 30px;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 0px 40px;
  }
  header a {
    grid-area: logo;
    justify-self: left;
  }
  header .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  header .icons .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-area: socials;
  }
  header .icons .socials a i {
    font-size: 30px;
  }
  header .icons .hamburger-menu {
    grid-area: hamburger-menu;
    justify-self: center;
  }
  header .icons .hamburger-menu i {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 20px 40px;
  }
  header a img {
    width: 80px;
    height: 80px;
  }
  header .header-nav {
    display: block;
  }
  header .header-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  header .header-nav ul li {
    list-style: none;
  }
  header .header-nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  header .header-nav ul li a:hover {
    color: #E3B029;
  }
  header .icons .socials i {
    font-size: 30px;
  }
  header .icons .hamburger-menu {
    display: none;
  }
}
body {
  background-color: #FFFCF1;
  font-family: "Montserrat", sans-serif;
}
body main .main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
body main .main-title h1 {
  font-family: "Cormorant", serif;
  font-weight: lighter;
  font-size: 70px;
  text-align: center;
}
body main .main-title .subtitle {
  display: flex;
  align-items: center;
  gap: 15px;
}
body main .main-title .subtitle .line {
  width: 100px;
  height: 1px;
  background-color: black;
}
body main .main-title .subtitle h2 {
  font-weight: lighter;
}

@media (min-width: 768px) {
  body main .main-title {
    height: 50vh;
    padding-top: 30px;
  }
  body main .main-title h1 {
    font-size: 100px;
  }
  body main .main-title .subtitle .line {
    width: 120px;
  }
  body main .main-title .subtitle h2 {
    font-size: 25px;
  }
}
@media (min-width: 1024px) {
  body main {
    height: 60vh;
  }
  body main .main-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  body main .main-title h1 {
    font-family: "Cormorant", serif;
    font-weight: lighter;
    font-size: 110px;
    text-align: center;
  }
  body main .main-title .subtitle {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  body main .main-title .subtitle .line {
    width: 200px;
    height: 1px;
    background-color: black;
  }
  body main .main-title .subtitle h2 {
    font-weight: lighter;
  }
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
main .todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 20px;
}
main .todo-list h3 {
  font-family: "Cormorant", serif;
  font-size: 45px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 10px;
}
main .todo-list .container {
  padding-top: 20px;
  gap: 20px;
}
main .todo-list .container #input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D0A95D;
  border-radius: 30px;
  width: 280px;
  height: 32px;
  padding-left: 20px;
  margin-bottom: 10px;
}
main .todo-list .container #input input {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}
main .todo-list .container #input ::placeholder {
  color: rgb(255, 255, 255);
}
main .todo-list .container #input #add-task-btn {
  background-color: #1C4662;
  color: white;
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: 30px;
  cursor: pointer;
}
main .todo-list .container #task-list .list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 5px 0;
}
main .todo-list .container #task-list .list-item label {
  flex: 1 1 0%;
  margin: 0 10px;
}
main .todo-list .container #task-list .actions button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.7;
  transform: 0.1s;
}
main .todo-list .container #task-list .actions button:hover {
  opacity: 1;
}
main .todo-list .container .complete {
  opacity: 0.7;
}
main .todo-list .container .complete label {
  text-decoration: line-through;
}

@media (min-width: 768px) {
  main .to-do h3 {
    font-size: 60px;
  }
  main .to-do .list {
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  main .to-do .list {
    max-width: 40%;
  }
  main .to-do .list .new-task {
    font-size: 14px;
    padding: 8px 40px;
  }
  main .to-do .list .tasks .task {
    font-size: 16px;
  }
}
footer p {
  margin-top: 40px;
  text-align: center;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
