@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital@1&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.start-button {
  width: 170px;
  height: 40px;
  border-radius: 30px;
  border-style: none;
  background-color: #1C4662;
  margin-top: 30px;
}
.start-button:hover {
  background-color: #133044;
}
.start-button a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

header {
  background-color: #FFFCF1;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: ". logo hamburger-menu";
  align-items: center;
  justify-items: center;
  padding: 30px 30px 0px 30px;
}
header a {
  grid-area: logo;
}
header a img {
  width: 100px;
  height: 100px;
}
header .header-nav {
  display: none;
}
header .icons {
  grid-area: hamburger-menu;
  justify-self: right;
}
header .icons .socials {
  display: none;
}
header .icons .hamburger-menu i {
  font-size: 30px;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
  }
  header a {
    grid-area: logo;
    justify-self: left;
  }
  header .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  header .icons .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-area: socials;
  }
  header .icons .socials a i {
    font-size: 30px;
  }
  header .icons .hamburger-menu {
    grid-area: hamburger-menu;
    justify-self: center;
  }
  header .icons .hamburger-menu i {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 20px 40px;
  }
  header a img {
    width: 80px;
    height: 80px;
  }
  header .header-nav {
    display: block;
  }
  header .header-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  header .header-nav ul li {
    list-style: none;
  }
  header .header-nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  header .header-nav ul li a:hover {
    color: #E3B029;
  }
  header .icons .socials i {
    font-size: 30px;
  }
  header .icons .hamburger-menu {
    display: none;
  }
}
body {
  background-color: #FFFCF1;
  font-family: "Montserrat", sans-serif;
}
body main .main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
body main .main-title h1 {
  font-family: "Cormorant", serif;
  font-weight: lighter;
  font-size: 70px;
  text-align: center;
}
body main .main-title .subtitle {
  display: flex;
  align-items: center;
  gap: 15px;
}
body main .main-title .subtitle .line {
  width: 100px;
  height: 1px;
  background-color: black;
}
body main .main-title .subtitle h2 {
  font-weight: lighter;
}

@media (min-width: 768px) {
  body main .main-title {
    height: 50vh;
  }
  body main .main-title h1 {
    font-size: 100px;
  }
  body main .main-title .subtitle .line {
    width: 120px;
  }
  body main .main-title .subtitle h2 {
    font-size: 25px;
  }
}
@media (min-width: 1024px) {
  body main {
    padding-top: 40px;
  }
  body main .main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .main-title h1 {
    font-family: "Cormorant", serif;
    font-weight: lighter;
    font-size: 110px;
    text-align: center;
  }
  body main .main-title .subtitle {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  body main .main-title .subtitle .line {
    width: 200px;
    height: 1px;
    background-color: black;
  }
  body main .main-title .subtitle h2 {
    font-weight: lighter;
  }
}
main .to-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
main .to-do h3 {
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
}
main .to-do .new-list {
  background-color: #D0A95D;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 5px 35px;
  font-family: "Montserrat", sans-serif;
}
main .to-do .list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: solid 1px #E3B029;
  border-radius: 30px;
  width: 245px;
  height: 280px;
}
main .to-do .list .tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .to-do .list .tasks .task {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 15px;
  border: solid 1px lightgrey;
  border-radius: 30px;
  width: 200px;
  height: 32px;
}
main .to-do .list .tasks .task:hover {
  border-color: #E3B029;
}
main .to-do .list .tasks .new {
  color: lightgrey;
}
main .to-do .list .new-task {
  font-size: 12px;
  background-color: #1C4662;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 5px 30px;
  font-family: "Montserrat", sans-serif;
}

footer p {
  margin-top: 40px;
  text-align: center;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
