main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:  start;
    .todo-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        h3 {
            font-family: $titles-font;
            font-size: 45px;
            font-weight: lighter;
            text-align: center;
            margin-bottom: 10px;
        }
        .container {
            padding-top: 20px;
            width: 80%;
            display: flex;
            align-items: center;
            // justify-content: center;
            flex-direction: column;
            .input-div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $softer-color;
                border-radius: 30px;
                min-width: 280px;
                width: 80%;
                height: 32px;
                padding-left: 20px;
                margin-bottom: 10px;
                #input-box {
                    font-family: $main-font;
                    font-size: 15px;
                    padding: 10px;
                    width: 100%;
                    background: transparent;
                    border: none;
                    outline: none;
                    color: white;
                }
                ::placeholder {
                    color: rgb(255, 255, 255);
                }
                #add-task-btn {
                    background-color: $accent-color;
                    color: white;
                    border: none;
                    outline: none;
                    padding: 8px 15px;
                    border-radius: 30px;
                    cursor: pointer;
                }
            }
            #task-list {
                width: 80%;
                .list-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;
                    padding: 5px 0;
                    input[type="text"] {
                        flex: 1 1 0%;
                        margin: 0 10px;
                        font-size: 16px;
                        appearance: none;
                        background: none;
                        border: none;
                        outline: none;
                    }
                    input[type="text"]:not(:disabled) {
                        border-bottom: 1px solid grey;
                    }
                }
                .completed {
                    opacity: 0.7;
                    input[type="text"] {
                        text-decoration: line-through;
                    }
                }
                .actions {
                    button {
                        background: none;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        font-size: 16px;
                        opacity: 0.5;
                        transform: 0.1s;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        .todo-list {
            h3 {
                font-size: 60px;
            }
            .container {
                width: 70%;
                .input-div {
                    width: 70%;
                    #input-box {
                        font-size: 16px;
                    }
                }
                #task-list {
                    width: 70%;
                    .list-item {
                        #itemText {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    main {
        .todo-list {
            h3 {
                font-size: 65px;
            }
            .container {
                width: 70%;
                .input-div {
                    #input-box {
                        font-size: 16px;
                    }
                }
                #task-list {
                    .list-item {
                        #itemText {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}